[Unit]
Description=Swim Plant Monitor Client
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/plant-monitor/node/main.js
WorkingDirectory=/home/pi/plant-monitor/node/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
