* {
  padding: 0px;
  margin: 0px;
}

html, body {
  background-color: #1a1a1a;
  color: white;
  font-size: 16pt;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

h3 {
  background-color: #00a6ed;
  padding: 5px 10px;
  font-size: 20px;
  margin-bottom: 0px; 
  border-radius: 5px 5px 0px 0px;
  font-family: Orbitron;
  border-top: solid 1px rgb(175,225,255);
  border-bottom: solid 1px rgb(0,54,86);  
}

.cellBottom {
  border-radius: 0px 0px 5px 5px;
  padding: 0px;
  margin-top: 10px;
}

h4 {
  background-color: #00a6ed;
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 0px; 
}

h5 {
  font-size: 18px;
  color: #000000;
  margin: 10px auto 0px 0px;
}

h6 {
  margin: 0px;
  padding: 0px;
  font-size: 12px;  
}

.main {
  max-width: 1024px;
  min-width: 620px;
  margin: 0px auto 50px auto;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 50% 50%;
  grid-gap: 5px;
}

.chartsSection { 
  grid-area: 1 / 2 / 3 / 5; 
}

.gauge { 
  grid-area: 1 / 1 / 2 / 2; 
}

.plantListColumn { grid-area: 2 / 1 / 3 / 2; }

.sim {
  width: 600px;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
}

.sim input {
  background-color: white;
}

.chartsSection {
  display: grid;
  grid-template-columns: auto;  
  grid-gap: 5px;
}

canvas {
  pointer-events: none;  
}

input,
select {
  background-color: rgba(255,255,255,0.4);
  color: #000000;
  border: 0px;
  padding: 3px 10px;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px inset rgba(0,0,0,0.4);
  transition: 100ms linear;
  font-size: 14px;
}

select:focus {
  outline: none;
}

input[type="button"]:hover {
  background-color: rgba(255,255,255,0.9);
}

.statusHeader {
  padding: 8px;
}

.chartRow {
  width: 100%; 
  height: 150px;
  margin-bottom: 10px;
}

.plantList {
  grid-row: 1 /span 2;
}

.plantHeader {
  padding: 0px;
  height: 31px;
}

#plantNameHeader {
  padding: 4px;
  text-align: center;
}

.plantListColumns {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  height: 20px;
  color: black;
  font-size: 12px;
  grid-gap: 2px;
}

.plantListColumns div {
  background-color: rgba(255,255,255,0.8);
  padding: 0px 5px;
}

#plantListingDiv span, #alertListingDiv span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
}

#plantListingDiv b, #alertListingDiv b {
  text-align: center;
}

#plantListingDiv div:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.plantControls, .plantInputs {
  display: grid;
  grid-template-columns: 30% 70%;
}

.plantSvg {
  width: 256px;
  margin: 0px auto;
  left: calc(50% - 128px);
  position: relative;  
}

#plantListingDiv, #alertListingDiv {
  font-size: 14px;
}

#plantListingDiv div, #alertListingDiv div {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}

#plantListingDiv div:nth-child(even) {
  background-color: rgba(255,255,255,0.1);

}

.selectedRow {
  background-color:rgba(100,100,255,0.2) !important;
}
.plantListColumn {
  display: grid;
  grid-template-rows: 32px auto 32px 300px;
}

.plantButtons {
  margin: -45px auto;
  text-align: center;
  z-index: 1;
}